html {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.one {
  background: url('../img/city.jpeg') center center no-repeat fixed;
  background-size: cover;
}

.two {
  background: url('../img/mountains.jpeg') center center no-repeat fixed;
  background-size: cover;
}

.three {
  background: url('../img/fog.jpeg') center center no-repeat fixed;
  background-size: cover;
}

.four {
  background: url('../img/lake.jpg') center center no-repeat fixed;
  background-size: cover;
}

.five {
  background: url('../img/night.jpeg') center center no-repeat fixed;
  background-size: cover;
}

.six {
  background: url('../img/bridge.jpeg') center center no-repeat fixed;
  background-size: cover;
}

.circle {
  background-color: rgba(190,190,190,0.6);
  position: absolute;
  color: white;
  margin: 0 auto;
  height: 40rem;
  width: 40rem;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
}

#location {
  padding: 5rem;
  font-size: 7rem;
  color: #FFF;
  line-height: normal;
}

h1 {
  margin-top: 0;
}

#icon {
  padding: 2rem;
  font-size: 9rem;
}

#temp {
  width: 400px;
  height: 150px;
  font-size: 16rem;
  line-height: normal;
}

#temp span {
  display: table-cell;
  vertical-align: center;
  text-align: center;
}

#desc {
  font-size: 3rem;
}

hr {
  max-width: 15rem;
  margin: 0 auto !important;
}

.highLow {
  font-size: 3rem;
  line-height: normal;
}

#max, #min {
  font-size: 3rem;
}

/* #switchTemp {
  font-size: 7.5rem;
} */

footer {
  margin-top: auto;
  padding: 1rem;
  font-size: 2.5rem;
  color: #fff;
}

.foot a {
  color: #fff;
}

a:hover {
  color: #333;
}

@media ( max-width : 992px) {
  #location {
    padding: 0;
    font-size: 3.5rem;
  }

  .circle {
    height: 31rem;
    width: 31rem;
    margin-left: -155px;
    margin-top: -160px;
  }

  #icon {
    font-size: 6rem;
  }

  #temp {
    font-size: 12rem;
  }

  #desc {
    font-size: 2rem;
  }

  .highLow {
    font-size: 2rem;
  }

  #max, #min {
    font-size: 2rem;
  }


  footer {
    font-size: 1.5rem;
  }
}
