
.container {
  background-color: #706868;
  color: white;
  margin-top: 50px;
  border-radius: 15px;
  max-width: 800px;
}

.container h1 {
  font-size: 55px;
}

.temp h1 {
  padding: 30px;
  font-size: 100px;
}

.icon h1 {
  padding: 30px;
  font-size: 100px;
}

.switch button {
  font-size: 50px;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 30px 50px;
}

.credit h1 {
  padding: 30px;
  font-size: 25px;
}
